<br>
<p><b> <span style="background-color:white">Dear cars, we nicely invite you to piss off and make Berlin a nicer place. </span> </b></p>

{{#nameList}}


    <p>{{firstname}}  {{lastname}} {{age}} <a href="/signers/{{city}}">{{city}}</a></p>


{{/nameList}}
